* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #363636;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 1%;
}

section {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  padding: 1em;
}

.default-input {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 0;
  max-width: 20rem;
  position: relative;
}

.default-input input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  color: #ffff;
}

.default-input select {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.default-input label {
  font-size: 100%;
  color: #ffff;
  margin: 0 0 0.5em 0.5em;
}

.radio-input {
  max-width: 300px;
  color: white;
  display: flex;
  flex-direction: row;
}

.radio-wrapper {
  margin: 8px;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  font-size: 16px;
  font-weight: 600;
}

.section-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}